.dancing-script-cursive {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

nav {
  background-color: darkslategrey;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: lightgreen;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #1da1f2;
  text-decoration: underline;
}

.box {
  width: 100px;
  height: 150px;
  border: 1px solid;
  position: static;
  top: 50px;
  left: 100px;
  background: linear-gradient(
    to bottom,
    rgba(153, 255, 37, 0.452),
    rgba(255, 255, 0, 0.5),
    rgba(20, 3, 255, 0.644)
  );
}
